/* .headerArea{
  border: 2px solid blue;
  width: 1000px;
  height: 100px;
  align-content: center;
  margin: auto;
} */
.wrapper{
  border: 2px solid blue;
  width: 1000px;
  height: auto;
  align-content: center;
  margin: auto;
}

.tasks{
  width: 85%;
  height: auto;
  align-content: center;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.update{
  width: 8%;
  height: 300px;
  align-content: center;
  margin: auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.submitForm{
  border: 2px solid purple;
  width: 1000px;
  height: 100px;
  align-content: center;
  margin: auto;
  text-align: center;
}

#updateForm input{
  width: 100px;
  height: 20px;
  display: block;
}
